resources:
- deployment.yaml
- service.yaml
- namespace.yaml
- sa.yaml
- istio.yaml
namespace: audit-server
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/opengauss/audit-server-prod
  newTag: v1.13.0-ad2ae1
