---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bloginfo
  namespace: blog
spec:
  replicas: 2
  strategy:
    rollingUpdate:
      maxUnavailable: 1
    type: RollingUpdate
  selector:
    matchLabels:
      app: bloginfo
  template:
    metadata:
      labels:
        app: bloginfo
    spec:
      containers:
      - name: bloginfod
        image: swr.ap-southeast-1.myhuaweicloud.com/opengauss/blog:v1.0.20220621111745
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 1000m
            memory: 1000Mi
          limits:
            cpu: 1000m
            memory: 1000Mi
        volumeMounts:
        - mountPath: /etc/nginx/conf.d
          name: configmap-volume
      volumes:
      - name: configmap-volume
        configMap:
          name: blogsvcconfigmap
