---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/permanent-redirect: https://opengauss.org$request_uri
  name: opengauss-website-www-ingress
  namespace: website
spec:
  tls:
    - hosts:
        - www.opengauss.org
      secretName: website-tls
  rules:
  - host: www.opengauss.org
  ingressClassName: nginx