resources:
- ingress.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: website
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/opengauss/website
  newTag: v2-v1.0.20251110175624
