apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: repo-ingress
  namespace: download
spec:
  tls:
    - hosts:
        - download.opengauss.org
      secretName: download-tls
  rules:
  - host: download.opengauss.org
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: repo-service
            port:
              number: 80
  ingressClassName: nginx

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: repo-osinfra-ingress
  namespace: download
spec:
  tls:
    - hosts:
        - download-opengauss.osinfra.cn
      secretName: download-osinfra-tls
  rules:
  - host: download-opengauss.osinfra.cn
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: repo-service
            port:
              number: 80
  ingressClassName: nginx