resources:
- configmap.yaml
- pvc.yaml
- namespace.yaml
- deployment.yaml
- ingress.yaml
- service.yaml
- istio.yaml
commonAnnotations:
  kubernetes.ops.cluster: opengauss-hk-cluster
  kubernetes.ops.email: 747802914@qq.com
  kubernetes.ops.os.base: openeuler
  kubernetes.ops.owner: liuyang
  kubernetes.ops.region: hk
namespace: download
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/opengauss/nginx-fancyindex
  newTag: v1.0.2
