resources:
- namespace.yaml
- ingress.yaml
- service.yaml
- deployment.yaml
namespace: opengauss-tryme-website
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/opengauss/opengauss-tryme-website
  newTag: 513bc61958c77c59e11f7efb003b3dc3a1c0b6d3
