---
apiVersion: v1
kind: Service
metadata:
  name: k8s-exporter-service
  namespace: monitor-agent
  labels:
    app: k8s-exporter
spec:
  ports:
    - name: http
      port: 9201
      targetPort: 9201
  selector:
    app: k8s-exporter
  type: ClusterIP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: k8s-exporter
  name: k8s-exporter
  namespace: monitor-agent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: k8s-exporter
  template:
    metadata:
      labels:
        app: k8s-exporter
    spec:
      imagePullSecrets:
      - name: huawei-swr-image-pull-secret
      containers:
      - name: k8s-exporter
        image: swr.cn-north-4.myhuaweicloud.com/opensourceway/monitor/k8s_exporter:v1.0.2
        imagePullPolicy: IfNotPresent
        env:
        - name: K8S_VERSION
          valueFrom:
            secretKeyRef:
              key: k8s_version
              name: k8s-exporter-secrets
        ports:
        - containerPort: 9201
          protocol: TCP
          name: http
        resources:
          requests:
            cpu: 400m
            memory: 800Mi
          limits:
            cpu: 400m
            memory: 800Mi
        volumeMounts:
        - mountPath: /opt/app/conf/app.conf
          name: secret
          subPath: app.conf
      volumes:
      - name: secret
        secret:
          secretName: k8s-exporter-secrets
          
          