apiVersion: kustomize.config.k8s.io/v1beta1
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/opengauss/website-docs
  newTag: v1.0.20230427082310
kind: Kustomization
namespace: opengauss-docs
resources:
- namespace.yaml
- ingress.yaml
- service.yaml
- deployment.yaml
