---
apiVersion: v1
kind: Service
metadata:
  name: mailman-exim4-service
  namespace: mail
  annotations:
    kubernetes.io/elb.class: union
    kubernetes.io/elb.id: 900add1d-4887-4cd9-989f-14824f3d68a3
    kubernetes.io/elb.lb-algorithm: ROUND_ROBIN
spec:
  #We need set this into 'Local' since we need get the client IP for relay excluding.
  externalTrafficPolicy: Local
  loadBalancerIP: 119.8.40.18
  ports:
  - port: 25
    name: exim4-port
    targetPort: 25
    protocol: TCP
  - port: 465
    name: exim4-port-2
    targetPort: 465
    protocol: TCP
  selector:
    component: mail-exim4-service
  type: LoadBalancer

# StatefulSet for exim4 services
---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: mailman-exim4
  namespace: mail
  labels:
    app: mail-suit-service
    component: mail-exim4-service
  annotations:
    flux.weave.works/tag.mailman-exim4: semver:~1.0
    flux.weave.works/automated: 'true'
spec:
  serviceName: mail-suit-service
  replicas: 1
  selector:
    matchLabels:
      app: mail-suit-service
      component: mail-exim4-service
  template:
    metadata:
      labels:
        app: mail-suit-service
        component: mail-exim4-service
    spec:
      nodeSelector:
        exim4: "true"
      containers:
      - name: mailman-exim4
          #NOTE: This image is directly built from our dockerfile located in exim4 folder
        image: swr.cn-north-4.myhuaweicloud.com/opensourceway/app-mailman/mailman-exim-new-build:3d97dff8206e4262c0fa2e218cdacb40e168c56a1672141405
        imagePullPolicy: "IfNotPresent"
        volumeMounts:
        - mountPath: /opt/mailman/
          name: mailman-core-data
        - mountPath: /var/log/exim/
          name: mailman-exim4-log
        - name: mailman-secrets
          mountPath: /etc/exim/passwd.ro
          subPath: exim4_credential
        - name: mailman-cert-secrets
          mountPath: /etc/exim/exim.crt.ro
          subPath: server.crt
        - name: mailman-cert-secrets
          mountPath: /etc/exim/exim.key.ro
          subPath: server.key
        - name: mailman-secrets
          mountPath: /etc/exim/dkim/opengauss.key.ro
          subPath: dkim_key
        - name: exim4-tls-secret
          mountPath: /etc/exim/ssl_pool/opengauss.org.crt
          subPath: opengauss_org_crt
        - name: exim4-tls-secret
          mountPath: /etc/exim/ssl_pool/opengauss.org.key
          subPath: opengauss_org_key
        - name: exim-config
          mountPath: /etc/exim/exim.conf
          subPath: exim_conf
          # NOTE: since we added new configuration files we need reload exim4 and start up
          # 1. update password  and key file mode
          # 2. update the log folder permission
          # 3. reconfigure exim4
          # 4. start the service
        command:
        - /bin/sh
        - -c
        - |
          cp /etc/exim/passwd.ro /etc/exim/passwd
          cp /etc/exim/exim.crt.ro /etc/exim/exim.crt
          cp /etc/exim/exim.key.ro /etc/exim/exim.key
          cp /etc/exim/dkim/opengauss.key.ro /etc/exim/dkim/opengauss.key
          chown root:exim /etc/exim/passwd /etc/exim/exim.crt /etc/exim/exim.key /etc/exim/dkim/opengauss.key
          chmod 755       /etc/exim/passwd /etc/exim/exim.crt /etc/exim/exim.key /etc/exim/dkim/opengauss.key
          mkdir -p /var/log/exim
          exec tini -- exim -bd -v;
      #NOTE: Empty dir can't be used in a production dir. Please upgrade it before using.
      volumes:
      - name: mailman-core-data
        persistentVolumeClaim:
          claimName: config-vol
      - name: mailman-exim4-log
        persistentVolumeClaim:
          claimName: exim-log-data
      - name: mailman-secrets
        secret:
          secretName: mailman-secrets
      - name: mailman-cert-secrets
        secret:
          secretName: mailman-cert-secrets
      - name: exim4-tls-secret
        secret:
          secretName: mailman-tls-secrets
      - name: exim-config
        configMap:
          name: exim-configmap

