apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
  name: opengauss-datastat-ingress
  namespace: opengauss-datastat
spec:
  tls:
    - hosts:
        - datastat.opengauss.org
      secretName: datastat-opengauss-tls
  rules:
  - host: datastat.opengauss.org
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: opengauss-service
            port:
              number: 80
  ingressClassName: nginx