resources:
- ingress.yaml
- deployment.yaml
- service.yaml
- namespace.yaml
- secret.yaml
- sa.yaml
namespace: opengauss-datastat
commonAnnotations:
  kubernetes.ops.cluster: opengauss-hk-cluster
  kubernetes.ops.email: ""
  kubernetes.ops.os.base: openeuler
  kubernetes.ops.owner: gongzhuangbang
  kubernetes.ops.region: hk
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/datastat/opengauss
  newTag: 1e7204f51c8093a70dfc66d3b7086e53221067fa
